{
  "extends": "airbnb",
  "env": {
    "es6": true
  },
  "rules": {
    "valid-jsdoc": "error",
    "no-shadow": "off",
    "no-console": "off",
    "object-curly-newline": "off",
    "function-paren-newline": ["error", "consistent"],
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": "off",
    "react/no-unused-prop-types": "off",
    "react/sort-comp": "off",
    "react/no-array-index-key": "off",
    "react/require-default-props": "off",
    "react/no-unused-state": "off",
    "react/prop-types": "off"
  },
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "globals": {
    "__DEV__": true,
    "TimeoutID": true,
    "navigator": true,
    "$Shape": true,
    "$ReadOnly": true,
    "$ReadOnlyArray": true,
    "$Keys": true,
    "Reactotron": true
  }
}